.brand-events-create-button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.brand-events-create-button {
    display: inline-flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-right: 5px;
    align-self: flex-end;
}


.brand-events-create-button:hover {
    background-color: #0056b3;
}